{% extends "admin/login.html" %}

{% load i18n %}

{% block extrahead %}
    <style>      
        .form-container select {
            width: 100%; 
            height: 36px;
        }
    </style>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

{% if form.errors %}
<p class="errornote">{{ form.non_field_errors }}</p>
{% endif %}

<div id="login-form" class="form-container">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-row">
            {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="form-row">
            {{ form.password.label_tag }} {{ form.password }}
        </div>
        <div class="form-row">
            {{ form.financial_year.label_tag }} {{ form.financial_year }}
        </div>
        <div class="form-row">
            {{ form.branch.label_tag }} {{ form.branch }}
        </div>
        <div class="submit-row">
            <input type="submit" value="{% trans 'Log in' %}">
        </div>
    </form>
</div>
{% endblock %}
